{% extends 'base.template.html'%}

{% block css %}
<style>
	body {
		background-color: antiquewhite;
	}

	h1 {
		font-family: Verdana;
	}

	h2 {
		font-family: Montserrat;
	}
</style>
{% endblock %}

{% block title %}Customer Registration Form{% endblock %}

{% block content %}
<div class="container d-flex flex-column my-3">
	<h1>GoodWork CRM System</h1>
	<h2>Customer Registration</h2>
</div>
<form method="POST">
	<div class="my-3">
		<label class="form-label">First Name:</label>
		<input class="form-control {%if 'first_name' in errors %} is-invalid {%endif%} " type="text" name="first_name" placeholder="Enter First Name: " value="{{old_values.first_name}}">
        {% if 'first_name' in errors %}
		<div class="invalid-feedback">
			{{errors.first_name}}
		</div>
		{% endif %}
	</div>
	<div class="my-3">
		<label class="form-label">Last Name:</label>
		<input class="form-control {%if 'last_name' in errors %} is-invalid {%endif%}" type="text" name="last_name" placeholder="Enter Last Name: " value="{{old_values.last_name}}">
        {% if 'last_name' in errors %}
		<div class="invalid-feedback">
			{{errors.last_name}}
		</div>
		{% endif %}
	</div>
	<div class="my-3">
		<label class="form-label">Email:</label>
		<input class="form-control {%if 'email' in errors %} is-invalid {%endif%}" type="text" name="email" placeholder="name@emil.com" value="{{old_values.email}}">
        {% if 'last_name' in errors %}
		<div class="invalid-feedback">
			{{errors.last_name}}
		</div>
		{% endif %}
	</div>
	<div class="my-3 d-flex align-items-center">
		<label class="form-label checkbox-inline ">Send Marketing Material: </label>
		<input type="checkbox" class="ml-4" style="height:30px; width:30px " name="can_send" {% if 'can_send' in old_values %} checked {% endif %}>
    </div>
		<input type="submit" class="btn btn-primary">

</form>




		{% endblock %}