{% extends 'base.template.html'%}

{% block css %}
<style>
	body {
		background-color: antiquewhite;
	}
    h1 {
        font-family: Verdana;
    }
    h2{
        font-family: Montserrat;
    }
</style>
{% endblock %}

{% block title %}Customer Record{% endblock %}

{% block content %}
<div class="container d-flex flex-column my-3">
	<h1>GoodWork CRM System</h1>
	<h2>Customer Records<h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
            <th>Allow Marketing</th>
		</tr>
	</thead>
        <tbody>
            {% for customers in all_customers %}
            <tr>
                <td> {{customers.first_name}} </td>
                <td> {{customers.last_name}} </td>
                <td> {{customers.email}} </td>
                <td> {{customers.can_send}}</td>
                <td>
                    <a href="{{url_for('show_edit_customer', customer_id=customers.id)}}" class="btn btn-primary">Edit</a>
                    <a href="{{url_for('show_delete_customer', customer_id=customers.id)}}" class="btn btn-danger btn-sm">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<a href="{{url_for('show_add_customers')}}" class="btn btn-primary">Go Back</a>



{% endblock %}